@font-face {
    font-family: "Bloodlust";
    src: url("/src/fonts/BloodlustExpanded-Ao5m.ttf");
}

@font-face {
    font-family: "Redcap";
    src: url("/src/fonts/Redcap.ttf");
}

:root {
    --color-header: #ffbc0c;
    --color-header-logo-text: #f54235;
    --color-header-logo-text-hover: #bf1c1d;
    --color-main: red;
    --color-footer: blue;
    --font-main: "Bloodlust";
    --font-main-alt: "Redcap";

}

body {
    background-color: var(--color-header);

    font-family: var(--font-main);
    color: var(--color-header-logo-text);
    font-size: 2rem;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-header-logo-text);
}

a:hover {
    color: var(--color-header-logo-text-hover);
}

img {
    border-radius: 1rem;
}

#content {
    min-height: 100vh;
    width: min(100vw, 1080px);

    padding: 0 1rem;

    display: grid;
    grid-template-rows: 5rem 1fr 4rem;
}

header {
    color: var(--color-header-logo-text);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo .logo-img img {
    height: 3rem;
}

header .logo .logo-text {

    font-size: 3rem;
}

header .menu {
    font-size: 2rem;

    display: flex;
    gap: 1rem;
}

#main {
    margin: 1rem 0;
}

#main.main-display, 
#main.contact-display,
#main.attribution-display {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#main .main-img {
    max-width: 100%;
}

#main .alt-font {
    font-family: var(--font-main-alt);
    font-size: 1.5rem;
}

#main.menu-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

#main .menu-item {
    padding: 1rem;

    border-color: var(--color-header-logo-text);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.5rem;

    max-width: calc((1080px - 7rem) / 2) ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#main .menu-item .alt-font {
    font-size: 1.25rem;

    width: 100%;
}

#main .menu-item img {
    max-width: 100%;
}

#main .main-attribution-img {
    max-width: 450px;
}

#main .attribution a {
    font-size: 1.75rem;
}

footer {
    color: var(--color-header-logo-text);
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer a {
    display: grid;
    place-content: center;
}

footer img {
    height: 1.2rem;
}


